

.board--wrap {

}


.board--table {
    border: 1px solid $black;
    margin: 0 auto;
}

.board--cell {
    height: 100px;
    width: 100px;
    border: 2px solid $black;
    text-transform: uppercase;
    background-color: $white;
    font-family: sans-serif;
    font-size: 48px;
    text-align: center;
    vertical-align: middle;
    transition: 0.3s;
}

.board--score {
    width: 300px;
    min-height: 32px;
    background-color: $white;
    border: 1px solid $black;
    margin: 0 auto 24px;
    padding: 4px 8px;
    vertical-align: middle;
}